{
	debug
	admin 127.0.0.1:2019
	persist_config off
	log {
		output file /home/lee/work/appsmith/app/client/caddy/logs.txt
	}
	servers {
		trusted_proxies static 0.0.0.0/0
	}
}

(file_server) {
	file_server {
		precompressed br gzip
		disable_canonical_uris
	}
}

(reverse_proxy) {
	reverse_proxy {
		to 127.0.0.1:{args[0]}
		header_up -Forwarded
		header_up X-Appsmith-Request-Id {http.request.uuid}
	}
}

(all-config) {
	log {
		output file /home/lee/work/appsmith/app/client/caddy/logs.txt
	}
	skip_log /api/v1/health

	# The internal request ID header should never be accepted from an incoming request.
	request_header -X-Appsmith-Request-Id

	# Ref: https://stackoverflow.com/a/38191078/151048
	# We're only accepting v4 UUIDs today, in order to not make it too lax unless needed.
	@valid-request-id expression {header.X-Request-Id}.matches("(?i)^[0-9A-F]{8}-[0-9A-F]{4}-[4][0-9A-F]{3}-[89AB][0-9A-F]{3}-[0-9A-F]{12}$")
	header @valid-request-id X-Request-Id {header.X-Request-Id}
	@invalid-request-id expression !{header.X-Request-Id}.matches("(?i)^[0-9A-F]{8}-[0-9A-F]{4}-[4][0-9A-F]{3}-[89AB][0-9A-F]{3}-[0-9A-F]{12}$")
	header @invalid-request-id X-Request-Id invalid_request_id
	request_header @invalid-request-id X-Request-Id invalid_request_id

	header {
		-Server
		Content-Security-Policy "frame-ancestors 'self'"
		X-Content-Type-Options "nosniff"
		X-Appsmith-Request-Id {http.request.uuid}
	}

	request_body {
		max_size 150MB
	}

	handle {
		import reverse_proxy 3000
		templates {
			mime "text/html; charset=utf-8"
		}
	}

	handle /info {
		rewrite * /info.json
	}

	@backend path /api/* /oauth2/* /login/*
	handle @backend {
		import reverse_proxy 8000
	}

	handle /rts/* {
		import reverse_proxy 8091
	}

	redir /supervisor /supervisor/
	handle_path /supervisor/* {
		import reverse_proxy 9001
	}

	handle_errors {
		respond "{err.status_code} {err.status_text}" {err.status_code}
		header -Server
	}
}

# We bind to http on 80, so that localhost requests don't get redirected to https.
:80 {
	import all-config
}

https://dev.appsmith.com {
	tls internal
	import all-config
}

http://dev.appsmith.com {
	redir https://{host}{uri}
	header -Server
	header Connection close
}
